<div class="row" style="margin-bottom: 30px" ng-show="$storage.loggedUser != null">
	<div class="col-sm-2"><a ng-click="logOut()" class="btn btn-danger">Log out</a></div>
	<div class="col-sm-3 col-sm-offset-4"><a onclick="searchOnWikipedia()" class="btn btn-success">Find on Wikipedia</a></div>
	<div class="col-sm-3"><a onclick="findSynonym()" class="btn btn-success">Find synonymous</a></div>
</div>
<footer>
	<p class="text-center" style="color: #c4e3f3"><strong>&copy;Agile Methods of Projects Management - BLUE TEAM - Politechnia Łódzka 2016/2017</strong></p>
</footer>